<footer class="site-footer">
  <div class="container">
    <p>&copy; {{ site.time | date: '%Y' }} Mingze Dou. All rights reserved.</p>
    <div class="social-links">
      <a href="https://github.com/MingzeDou" target="_blank" rel="noopener">GitHub</a>
      <a href="https://www.linkedin.com/in/mingze-dou-508466279/" target="_blank" rel="noopener">LinkedIn</a>
      <a href="https://x.com/mingze_dou/following" target="_blank" rel="noopener">Twitter</a>
      <a href="mailto:mingze.dou@sund.ku.dk">Email</a>
    </div>
  </div>

  <style>
    .site-footer {
      margin-top: 3rem;  /* Add some space between main content and footer */
    }

    .social-links {
      margin-top: 1rem;  /* Add space between copyright text and social links */
      display: flex;  /* Arrange links horizontally */
      justify-content: space-between; /* Distribute links evenly */
    }

    .social-links a {
      margin-right: 1rem; /* Add space between social links */
    }

    .social-links a:last-child {
      margin-right: 0;  /* Remove margin from the last link */
    }
  </style>
</footer>