<footer class="site-footer">
    <div class="container">
        <p>&copy; {{ site.time | date: '%Y' }} Mingze Dou. All rights reserved.</p>
        <div class="social-links">
            <a href="https://github.com/MingzeDou" target="_blank" rel="noopener">GitHub</a>
            <a href="https://www.linkedin.com/in/mingze-dou-508466279/" target="_blank" rel="noopener">LinkedIn</a>
            <a href="https://x.com/mingze_dou/following" target="_blank" rel="noopener">Twitter</a>
            <a href="mailto:mingze.dou@sund.ku.dk">Email</a>
        </div>
    </div>
</footer>